@mixin full {
  width: 100%;
  height: 100%;
}

@mixin text-center {
  text-align: center;
}

@mixin center-vertical-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absolute-cover {
  @include full;
  position: absolute;
  left: 0px;
  right: 0px;
}

@mixin margin-cero-padding-cero {
  margin: 0;
  padding: 0;
}

@mixin descripcion-imagen {
  color: rgba($negro, 0.5);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
  position: absolute;
  bottom: 5%;
  right: 0;
  left: 0;
  z-index: 12;
  box-sizing: border-box;
  letter-spacing: 12px;
  @include text-center;
  line-height: 1.5em;
}

@mixin texto {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.5em;
  h1,
  h2 {
    font-weight: inherit;
    font-size: $big;
    letter-spacing: 0.3em;
    line-height: 1.4em;
  }
}
