@import "./modules/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $blanco;
  border: 1px solid;
  width: 100vw;
  min-height: 100vh;
}
img {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
/*
      .main-text {
        grid-column: 1 / 5;
      }
      
      .main-image {
        grid-column-start: 5;
        grid-column-end: 12;
      }
      */

/*Usando Grid Areas*/

.main-text {
  grid-area: title;
}

.main-image {
  grid-area: image;
}

.grid-main-area {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas:
    "title title title title title title title title title"
    "image image image image image image image image image";
}

.container {
  grid-column: span 12;
  padding: $big-padding;
}

@media (min-width: 960px) {
  .grid-main-area {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: "title title title image image image image image image";
  }
  .container {
    //grid-column: span 10;
    //El span hace que ocupe 10 columnas
    //si solo pusieramos 10 sin el span, le estariamos diciendo que arranque en la columna 10

    grid-column: 2 / 10;
  }
}
